<button type="button" class="btn btn-sm btn-light my-3 download-btn matrix-cta" id="download-contact-card" data-vcf-b64="QkVHSU46VkNBUkQKVkVSU0lPTjozLjAKRk46RWR3YXJkIExlZSBUaG9tcHNvbgpOOlRob21wc29uO0Vkd2FyZCBMZWU7OzsKRU1BSUw7VFlQRT1JTlRFUk5FVDtUWVBFPUhPTUU6RWR3YXJkTGVlVGhvbXBzb25AZ21haWwuY29tClRFTDtUWVBFPUNFTEwsVk9JQ0U7VkFMVUU9dXJpOnRlbDorMTc4NzkzOTQxNzQKVEVMO1RZUEU9V09SSyxWT0lDRTtWQUxVRT11cmk6dGVsOisxNDY5NDc2NDM3NgpPUkc6SSBIZWFydCBQUiBUb3VycwpUSVRMRTpUb3VyIEd1aWRlCkJEQVk6MTk4MzA1MjMKaXRlbTEuVVJMOnd3dy5FZHdhcmRMVGhvbXBzb24uY29tCml0ZW0xLlgtQUJMYWJlbDpQUk9GSUxFClBIT1RPOmh0dHBzOi8vbGgzLmdvb2dsZXVzZXJjb250ZW50LmNvbS9jb250YWN0cy9BRzZ0cHpHamNReXJOU1c2Q2VJSFFFNlhCRAogeVhUbzk0cXhsVVBCcXNZbEtKc0VmQ3R5cV9yZHZRCkNBVEVHT1JJRVM6bXlDb250YWN0cyxzdGFycmVkCkVORDpWQ0FSRAo=">Download Contact Card</button>
    <div class="section">
      <h2 class="matrix-header">
        Direct Contact
      </h2>
      <ul class="icons">
      <li>
        <a class="telegram" href="https://t.me/edwardlthompson" target="_blank" rel="noopener noreferrer" aria-label="Message on Telegram" data-bs-toggle="tooltip" data-bs-title="Telegram"><span class="icon-circle"><img src="img/brands/telegram.svg" alt="" class="icon"></span><span class="icon-name">Telegram</span></a>
      </li>
      <li>
        <a class="whatsapp" href="https://wa.me/14694764376" target="_blank" rel="noopener noreferrer" aria-label="Message on WhatsApp" data-bs-toggle="tooltip" data-bs-title="WhatsApp"><span class="icon-circle"><img src="img/brands/whatsapp.svg" alt="" class="icon"></span><span class="icon-name">WhatsApp</span></a>
      </li>
      <li>
        <a class="fb-messenger" href="https://www.m.me/EdwardLThompson" target="_blank" rel="noopener noreferrer" aria-label="Message on Facebook Messenger" data-bs-toggle="tooltip" data-bs-title="Messenger"><span class="icon-circle"><img src="img/brands/messenger.svg" alt="" class="icon"></span><span class="icon-name">Messenger</span></a>
      </li>
      <li>
        <a class="discord" href="https://discordapp.com/users/edwardlthompson" target="_blank" rel="noopener noreferrer" aria-label="Connect on Discord" data-bs-toggle="tooltip" data-bs-title="Discord"><span class="icon-circle"><img src="img/brands/discord.svg" alt="" class="icon"></span><span class="icon-name">Discord</span></a>
      </li>
      <li>
        <a class="snapchat" href="https://www.snapchat.com/add/edwardlthompson" target="_blank" rel="noopener noreferrer" aria-label="Add on Snapchat" data-bs-toggle="tooltip" data-bs-title="Snapchat"><span class="icon-circle"><img src="img/brands/snapchat.svg" alt="" class="icon"></span><span class="icon-name">Snapchat</span></a>
      </li>
      <li>
        <a class="gv" href="tel:+17879394174" aria-label="Call +1-787-939-4174" data-bs-toggle="tooltip" data-bs-title="Call"><span class="icon-circle"><img src="img/brands/call.svg" alt="" class="icon"></span><span class="icon-name">Call</span></a>
      </li>
      <li>
        <a class="email" href="mailto:EdwardLeeThompson@gmail.com" aria-label="Send an Email" data-bs-toggle="tooltip" data-bs-title="Email"><span class="icon-circle"><img src="img/brands/gmail.svg" alt="" class="icon"></span><span class="icon-name">Email</span></a>
      </li>
    </ul>
    </div>
    <div class="section">
      <h2 class="matrix-header">
        Social Networks
      </h2>
      <ul class="icons">
      <li>
        <a class="twitter" href="https://x.com/edleethompson" target="_blank" rel="noopener noreferrer" data-bs-toggle="tooltip" data-bs-title="X" aria-label="Visit X profile"><span class="icon-circle"><img src="img/brands/x.svg" alt="" class="icon" loading="lazy"></span><span class="icon-name">X</span></a>
      </li>
      <li>
        <a class="instagram" href="https://www.instagram.com/edwardlthompson/" target="_blank" rel="noopener noreferrer" data-bs-toggle="tooltip" data-bs-title="Instagram" aria-label="Visit Instagram profile"><span class="icon-circle"><img src="img/brands/instagram.svg" alt="" class="icon" loading="lazy"></span><span class="icon-name">Instagram</span></a>
      </li>
      <li>
        <a class="fb" href="https://www.facebook.com/edwardlthompson" target="_blank" rel="noopener noreferrer" data-bs-toggle="tooltip" data-bs-title="Facebook" aria-label="Visit Facebook profile"><span class="icon-circle"><img src="img/brands/facebook.svg" alt="" class="icon" loading="lazy"></span><span class="icon-name">Facebook</span></a>
      </li>
      <li>
        <a class="bereal" href="https://bere.al/edwardlthompson" target="_blank" rel="noopener noreferrer" data-bs-toggle="tooltip" data-bs-title="BeReal" aria-label="Visit BeReal profile"><span class="icon-circle"><img src="img/brands/bereal.svg" alt="" class="icon" loading="lazy"></span><span class="icon-name">BeReal</span></a>
      </li>
      <li>
        <a class="tiktok" href="https://www.tiktok.com/@edwardlthompson" target="_blank" rel="noopener noreferrer" data-bs-toggle="tooltip" data-bs-title="TikTok" aria-label="Visit TikTok profile"><span class="icon-circle"><img src="img/brands/tiktok.svg" alt="" class="icon" loading="lazy"></span><span class="icon-name">TikTok</span></a>
      </li>
      <li>
        <a class="rednote" href="https://www.xiaohongshu.com/user/profile/678873620000000008018d5d" target="_blank" rel="noopener noreferrer" data-bs-toggle="tooltip" data-bs-title="RedNote" aria-label="Visit RedNote profile"><span class="icon-circle"><img src="img/brands/xiaohongshu.svg" alt="" class="icon" loading="lazy"></span><span class="icon-name">RedNote</span></a>
      </li>
      <li>
        <a class="linkedin" href="https://www.linkedin.com/in/edwardleethompson/" target="_blank" rel="noopener noreferrer" data-bs-toggle="tooltip" data-bs-title="LinkedIn" aria-label="Visit LinkedIn profile"><span class="icon-circle"><img src="img/brands/linkedin.svg" alt="" class="icon" loading="lazy"></span><span class="icon-name">LinkedIn</span></a>
      </li>
    </ul>
    </div>
